{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login_layout.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<div class="container py-1 h-100 col-lg-6 d-flex align-items-center bo gradient-custom-2">
  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
    <h4 class="mb-4  text-center ">Enhancing Your Business in the Virtual Platform</h4>
    <p class="small mb-0 p-3"> We are really happy to partner with you to bring your business 
        to the next level. Let us know your requirements, and we'll build an excellent solution
         tailored specifically for you. At SDT320, we specialize in delivering digital solutions
          that drive success.</p>
        {% block section1 %}
          <p>hi wellcome </p>
          
      {% endblock section1 %}
          
        <a href="contact.html" class="btn">Get in Touch</a>
  </div>
</div>

</body>
</html>

